## Conditionals 9

In [48]:
def get_longest_of_three_words(word1,word2,word3):
    lst = [word1,word2,word3]
    return max(lst, key = len)

In [49]:
output = get_longest_of_three_words('these', 'three', 'words')

In [50]:
output

'these'

In [51]:
def get_longest_of_three_words(word1, word2, word3):
    other_words = word2, word3
    result, max_length = word1, len(word1)
    for word in other_words:
        if len(word) > max_length:
            result, max_length = word, len(word)
    return result

In [52]:
output = get_longest_of_three_words('these', 'three', 'words')

In [53]:
output

'these'

In [54]:
def find_shortest_of_three_words(word1,word2,word3):
    lst = [word1,word2,word3]
    return min(lst, key = len)

In [55]:
output = find_shortest_of_three_words('a', 'two', 'three')

In [56]:
output

'a'

In [57]:
def find_shortest_of_three_words(word1, word2, word3):
    other_words = word2, word3
    result, min_length = word1, len(word1)
    for word in other_words:
        if len(word) < min_length:
            result, min_length = word, len(word)
    return result

In [58]:
output = find_shortest_of_three_words('a', 'two', 'three')

In [59]:
output

'a'

## Math 6

In [60]:
def compute_compound_interest(principal, annual_rate, frequency, num_years):
    return principal * (1 + (annual_rate/frequency)) ** (frequency * num_years) - principal

In [61]:
output = compute_compound_interest(1500, 0.043, 4, 6)

In [62]:
output

438.83682213410543

## Advanced 6

In [63]:
def remainder(num1, num2):
    if num1 == 0:
        return 0
    if not num1 or not num2 or num2 == 0:
        return None
    return (num1 - num2 * (num1 // num2))

In [64]:
output = remainder(25, 4)

In [65]:
output

1

In [4]:
def remainder(num1, num2):
    if num1 == 0:
        return 0
    if not num1 or not num2:
        return None
    if num2 == 0:
        return None
    return (num1 - num2 * (num1 // num2))

In [7]:
output = remainder(25, 4)

In [8]:
output

1

In [69]:
def remainder(num1, num2):
    if num1 == 0:
        return 0
    if not num1 or not num2 or num2 == 0:
        return None
    try:
        num1 % num2
    except AssertionError:
        return 'should not have "%" or mod() anywhere in function body'
    except:
        return None
    finally:
        return (num1 - num2 * (num1 // num2))

In [70]:
output = remainder(25, 0)

In [71]:
output

## Iteration 5

In [75]:
def multiply(x, y):
    if y < 0:
        return -multiply(x, -y)
    elif y == 0:
        return 0
    elif y == 1:
        return x
    else:
        return x + multiply(x, y - 1)

In [76]:
output = multiply(4, 7)

In [77]:
output

28

In [78]:
def multiply(num1, num2):
    acc = 0
    for i in range(abs(num2)):
        acc += num1
    if (num1 < 0 and num2 > 0) or (num1 > 0 and num2 < 0):
        return -abs(acc)
    else:
        return abs(acc)

In [79]:
output = multiply(4, 7)

In [80]:
output

28

## Advanced 7

In [31]:
def is_odd(num):
    return num - 2 * (num//2) != 0

In [32]:
output = is_odd(17)

In [33]:
output

True

## Advanced 8