## List to Dict

In [9]:
def transform_first_and_last(lst):
    return {lst[0]:lst[-1]}

In [10]:
input1 = ['Kevin', 'Bacon', 'Love', 'Heart', 'Costner', 'Hart']

In [11]:
output = transform_first_and_last(input1)

In [12]:
output

{'Kevin': 'Hart'}

## List to Dict 2

In [13]:
def from_list_to_dict(input1):
    return {i[0]:i[1] for i in input1}

In [14]:
input1 = [['make', 'Ford'], ['model', 'Mustang'], ['year', 1964]]

In [15]:
output = from_list_to_dict(input1)

In [16]:
output

{'make': 'Ford', 'model': 'Mustang', 'year': 1964}

## List to Dict 3

In [87]:
def transform_employee_data(input1):
    d = {}
    d2 = {}
    for i in input1:
        for j in i:
            if j[0] not in d:
                d[j[0]] = j[1]
            else:
                d2[j[0]] = j[1]
    return [d, d2]

In [88]:
input1 = [[['firstName', 'Joe'], ['lastName', 'Coltrane'], ['age', 42], ['role', 'clerk']], [['firstName', 'Sheila'], ['lastName', 'Jenkins'], ['age', 36], ['role', 'manager']]]

In [89]:
output1 = transform_employee_data(input1)

In [90]:
output1

[{'firstName': 'Joe', 'lastName': 'Coltrane', 'age': 42, 'role': 'clerk'},
 {'firstName': 'Sheila', 'lastName': 'Jenkins', 'age': 36, 'role': 'manager'}]

In [91]:
input2 = [[['id', '4343F5X'], ['location', 'New York']], [['id', '2564F5X'], ['location', 'Berlin']]]

In [92]:
output2 = transform_employee_data(input2)

In [93]:
output2

[{'id': '4343F5X', 'location': 'New York'},
 {'id': '2564F5X', 'location': 'Berlin'}]

In [98]:
def transform_employee_data(input1):
    d = {}
    d2 = {}
    for i in input1:
        for j in i:
            if j[0] not in d:
                d.update({j[0]: j[1]})
            else:
                d2.update({j[0]: j[1]})
    return [d, d2]

In [99]:
input1 = [[['firstName', 'Joe'], ['lastName', 'Coltrane'], ['age', 42], ['role', 'clerk']], [['firstName', 'Sheila'], ['lastName', 'Jenkins'], ['age', 36], ['role', 'manager']]]

In [100]:
output1 = transform_employee_data(input1)

In [101]:
output1

[{'firstName': 'Joe', 'lastName': 'Coltrane', 'age': 42, 'role': 'clerk'},
 {'firstName': 'Sheila', 'lastName': 'Jenkins', 'age': 36, 'role': 'manager'}]