In [1]:
import pandas as pd
import numpy as np

from collections import Counter
from itertools import repeat, chain
from random import randint, choice

In [2]:
powerball_df = pd.read_csv('/Users/matthewnewell/Desktop/github/python_examples/csv/NCELPowerball.csv')

In [3]:
powerball_df.head()

,Date,Number 1,Number 2,Number 3,Number 4,Number 5,Powerball,Power Play,Jackpot
0,12/30/2020,45.0,65.0,43.0,61.0,3.0,14.0,2.0,365300000.0
1,12/26/2020,35.0,53.0,27.0,24.0,10.0,18.0,2.0,342800000.0
2,12/23/2020,6.0,38.0,53.0,39.0,13.0,6.0,3.0,324500000.0
3,12/19/2020,27.0,52.0,43.0,32.0,34.0,13.0,2.0,305700000.0
4,12/16/2020,37.0,4.0,67.0,23.0,61.0,7.0,2.0,286400000.0

In [4]:
reversed_df = powerball_df.sort_index(ascending = False)

In [5]:
reversed_df.head()

,Date,Number 1,Number 2,Number 3,Number 4,Number 5,Powerball,Power Play,Jackpot
1523,Every effort has been made to ensure that the ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1522,05/31/2006,49.0,22.0,20.0,43.0,10.0,3.0,5.0,38000000.0
1521,06/03/2006,20.0,5.0,18.0,50.0,6.0,35.0,5.0,48000000.0
1520,06/07/2006,20.0,10.0,4.0,26.0,40.0,8.0,5.0,60000000.0
1519,06/10/2006,36.0,54.0,24.0,26.0,16.0,11.0,3.0,73000000.0

In [6]:
reversed_df.iloc[0]

Date          Every effort has been made to ensure that the ...
Number 1                                                    NaN
Number 2                                                    NaN
Number 3                                                    NaN
Number 4                                                    NaN
Number 5                                                    NaN
Powerball                                                   NaN
Power Play                                                  NaN
Jackpot                                                     NaN
Name: 1523, dtype: object

In [7]:
# reversed_df.drop(reversed_df.head(1).index, inplace = True)

reversed_df.drop(reversed_df.index[:1], inplace = True)

In [8]:
reversed_df.head(5)

,Date,Number 1,Number 2,Number 3,Number 4,Number 5,Powerball,Power Play,Jackpot
1522,05/31/2006,49.0,22.0,20.0,43.0,10.0,3.0,5.0,38000000.0
1521,06/03/2006,20.0,5.0,18.0,50.0,6.0,35.0,5.0,48000000.0
1520,06/07/2006,20.0,10.0,4.0,26.0,40.0,8.0,5.0,60000000.0
1519,06/10/2006,36.0,54.0,24.0,26.0,16.0,11.0,3.0,73000000.0
1518,06/14/2006,4.0,40.0,14.0,48.0,15.0,12.0,3.0,86000000.0

In [9]:
reversed_df.columns

Index(['Date', 'Number 1', 'Number 2', 'Number 3', 'Number 4', 'Number 5',
       'Powerball', 'Power Play', 'Jackpot'],
      dtype='object')

In [10]:
reversed_df['Number 1']

1522    49.0
1521    20.0
1520    20.0
1519    36.0
1518     4.0
        ...
4       37.0
3       27.0
2        6.0
1       35.0
0       45.0
Name: Number 1, Length: 1523, dtype: float64

In [11]:
Counter(reversed_df['Number 1']).most_common(20)

[(40.0, 40),
 (12.0, 36),
 (14.0, 35),
 (32.0, 35),
 (7.0, 33),
 (26.0, 31),
 (47.0, 31),
 (22.0, 29),
 (33.0, 29),
 (8.0, 29),
 (45.0, 28),
 (24.0, 28),
 (52.0, 28),
 (38.0, 28),
 (46.0, 28),
 (23.0, 27),
 (49.0, 26),
 (36.0, 26),
 (41.0, 26),
 (6.0, 26)]

In [12]:
n1 = Counter(reversed_df['Number 1']).most_common(20)

n1

[(40.0, 40),
 (12.0, 36),
 (14.0, 35),
 (32.0, 35),
 (7.0, 33),
 (26.0, 31),
 (47.0, 31),
 (22.0, 29),
 (33.0, 29),
 (8.0, 29),
 (45.0, 28),
 (24.0, 28),
 (52.0, 28),
 (38.0, 28),
 (46.0, 28),
 (23.0, 27),
 (49.0, 26),
 (36.0, 26),
 (41.0, 26),
 (6.0, 26)]

In [13]:
n2 = Counter(reversed_df['Number 2']).most_common(20)

n2

[(28.0, 34),
 (22.0, 33),
 (10.0, 32),
 (8.0, 32),
 (52.0, 32),
 (2.0, 32),
 (43.0, 32),
 (5.0, 31),
 (20.0, 31),
 (53.0, 31),
 (39.0, 29),
 (24.0, 29),
 (15.0, 29),
 (32.0, 28),
 (1.0, 28),
 (54.0, 27),
 (30.0, 27),
 (7.0, 27),
 (49.0, 26),
 (4.0, 26)]

In [14]:
n3 = Counter(reversed_df['Number 3']).most_common(20)

n3

[(42.0, 36),
 (14.0, 35),
 (13.0, 34),
 (21.0, 34),
 (36.0, 33),
 (3.0, 32),
 (8.0, 31),
 (59.0, 31),
 (20.0, 30),
 (19.0, 30),
 (12.0, 30),
 (16.0, 30),
 (54.0, 30),
 (49.0, 28),
 (23.0, 28),
 (47.0, 27),
 (29.0, 27),
 (45.0, 27),
 (32.0, 27),
 (31.0, 27)]

In [15]:
n4 = Counter(reversed_df['Number 4']).most_common(20)

n4

[(23.0, 44),
 (41.0, 34),
 (16.0, 30),
 (32.0, 30),
 (27.0, 30),
 (48.0, 29),
 (38.0, 29),
 (59.0, 29),
 (11.0, 28),
 (39.0, 28),
 (21.0, 28),
 (4.0, 28),
 (17.0, 27),
 (34.0, 27),
 (53.0, 27),
 (20.0, 27),
 (52.0, 27),
 (24.0, 26),
 (30.0, 26),
 (47.0, 26)]

In [16]:
n5 = Counter(reversed_df['Number 5']).most_common(20)

n5

[(32.0, 35),
 (19.0, 33),
 (41.0, 33),
 (3.0, 31),
 (11.0, 31),
 (15.0, 30),
 (2.0, 30),
 (13.0, 30),
 (51.0, 30),
 (39.0, 29),
 (55.0, 29),
 (10.0, 28),
 (48.0, 28),
 (17.0, 28),
 (49.0, 28),
 (37.0, 27),
 (50.0, 27),
 (28.0, 27),
 (20.0, 27),
 (30.0, 26)]

In [17]:
# reversed_df.info()
pball = Counter(reversed_df['Powerball']).most_common(20)
pball

[(18.0, 61),
 (24.0, 60),
 (6.0, 52),
 (11.0, 51),
 (20.0, 51),
 (5.0, 51),
 (23.0, 50),
 (21.0, 50),
 (13.0, 49),
 (2.0, 49),
 (26.0, 49),
 (19.0, 49),
 (8.0, 48),
 (25.0, 48),
 (15.0, 48),
 (9.0, 48),
 (17.0, 47),
 (3.0, 46),
 (14.0, 46),
 (12.0, 44)]

In [18]:
top_numbers = n1 + n2 + n3 + n4 + n5
most = [i[0] for i in top_numbers]
# Counter(y).most_common(5)

# Counter(top_numbers).most_common(10)

In [19]:
Counter(most).most_common(20)

[(32.0, 5),
 (49.0, 4),
 (20.0, 4),
 (47.0, 3),
 (8.0, 3),
 (24.0, 3),
 (52.0, 3),
 (23.0, 3),
 (41.0, 3),
 (39.0, 3),
 (30.0, 3),
 (12.0, 2),
 (14.0, 2),
 (7.0, 2),
 (22.0, 2),
 (45.0, 2),
 (38.0, 2),
 (36.0, 2),
 (28.0, 2),
 (10.0, 2)]

In [25]:
nums_chosen = sorted([choice(most) for i in range(5)])
pball = (choice(pball))

nums_chosen, pball

([4.0, 8.0, 19.0, 49.0, 50.0], 20.0)

In [21]:
# result = list(chain.from_iterable(repeat(i,c) for i, c in Counter(reversed_df['Number 2']).most_common(20)))

In [22]:
# result = set(chain.from_iterable(repeat(i,c) for i, c in Counter(reversed_df['Number 2']).most_common(20)))

In [23]:
# result

In [24]:
# a = [1,2,3,4,5,6,3,3,4,2,2,2,2,2,2]

# Counter(a)

# result = list(chain.from_iterable(repeat(i, c) 
#          for i, c in Counter(a).most_common()))

# result = set(chain.from_iterable(repeat(i, c) 
#          for i, c in Counter(a).most_common(1)))

# result