## List to Dict

In [9]:
def transform_first_and_last(lst):
    return {lst[0]:lst[-1]}

In [10]:
input1 = ['Kevin', 'Bacon', 'Love', 'Heart', 'Costner', 'Hart']

In [11]:
output = transform_first_and_last(input1)

In [12]:
output

{'Kevin': 'Hart'}

## List to Dict 2

In [13]:
def from_list_to_dict(input1):
    return {i[0]:i[1] for i in input1}

In [14]:
input1 = [['make', 'Ford'], ['model', 'Mustang'], ['year', 1964]]

In [15]:
output = from_list_to_dict(input1)

In [16]:
output

{'make': 'Ford', 'model': 'Mustang', 'year': 1964}

## List to Dict 3

In [87]:
def transform_employee_data(input1):
    d = {}
    d2 = {}
    for i in input1:
        for j in i:
            if j[0] not in d:
                d[j[0]] = j[1]
            else:
                d2[j[0]] = j[1]
    return [d, d2]

In [88]:
input1 = [[['firstName', 'Joe'], ['lastName', 'Coltrane'], ['age', 42], ['role', 'clerk']], [['firstName', 'Sheila'], ['lastName', 'Jenkins'], ['age', 36], ['role', 'manager']]]

In [89]:
output1 = transform_employee_data(input1)

In [90]:
output1

[{'firstName': 'Joe', 'lastName': 'Coltrane', 'age': 42, 'role': 'clerk'},
 {'firstName': 'Sheila', 'lastName': 'Jenkins', 'age': 36, 'role': 'manager'}]

In [91]:
input2 = [[['id', '4343F5X'], ['location', 'New York']], [['id', '2564F5X'], ['location', 'Berlin']]]

In [92]:
output2 = transform_employee_data(input2)

In [93]:
output2

[{'id': '4343F5X', 'location': 'New York'},
 {'id': '2564F5X', 'location': 'Berlin'}]

In [6]:
def transform_employee_data(input1):
    d = {}
    d2 = {}
    for i in input1:
        for j in i:
            if j[0] not in d:
                d.update({j[0]: j[1]})
            else:
                d2.update({j[0]: j[1]})
    return [d, d2]

In [7]:
input1 = [[['firstName', 'Joe'], ['lastName', 'Coltrane'], ['age', 42], ['role', 'clerk']], [['firstName', 'Sheila'], ['lastName', 'Jenkins'], ['age', 36], ['role', 'manager']]]

In [8]:
output1 = transform_employee_data(input1)

In [9]:
output1

[{'firstName': 'Joe', 'lastName': 'Coltrane', 'age': 42, 'role': 'clerk'},
 {'firstName': 'Sheila', 'lastName': 'Jenkins', 'age': 36, 'role': 'manager'}]

In [13]:
def transform_employee_data(input1):
    return [{j[0]:j[1] for j in i} for i in input1]

In [14]:
input1 = [[['firstName', 'Joe'], ['lastName', 'Coltrane'], ['age', 42], ['role', 'clerk']], [['firstName', 'Sheila'], ['lastName', 'Jenkins'], ['age', 36], ['role', 'manager']]]

In [15]:
output1 = transform_employee_data(input1)

In [16]:
output1

[{'firstName': 'Joe', 'lastName': 'Coltrane', 'age': 42, 'role': 'clerk'},
 {'firstName': 'Sheila', 'lastName': 'Jenkins', 'age': 36, 'role': 'manager'}]

## Dict to List 4

In [39]:
def dict_to_list(dictionary):
    return [key for key in dictionary]

In [40]:
dictionary = {'name' : 'Sam', 'age' : 25, 'has_pets' : True}

In [41]:
output = dict_to_list(dictionary)

In [42]:
output

['name', 'age', 'has_pets']

In [57]:
def get_vals(dictionary):
    return [dictionary.get(key) for key in dictionary]

In [58]:
dictionary = {'name' : 'Sam', 'age' : 25, 'has_pets' : True}

In [59]:
output = dict_to_list(dictionary)

In [60]:
output

['name', 'age', 'has_pets']

In [61]:
def get_vals(dictionary):
    return [dictionary[key] for key in dictionary]

In [62]:
dictionary = {'name' : 'Sam', 'age' : 25, 'has_pets' : True}

In [63]:
output = dict_to_list(dictionary)

In [64]:
output

['name', 'age', 'has_pets']

## Dict to List 5

In [82]:
def convert_dict_to_list(dictionary):
    return[[i[0], i[1]] for i in dictionary.items()]

In [83]:
dictionary = {'name': 'Holly', 'age': 35, 'role': 'producer'}

In [84]:
output = convert_dict_to_list(dictionary)

In [85]:
output

[['name', 'Holly'], ['age', 35], ['role', 'producer']]

In [86]:
def convert_dict_to_list(dictionary):
    return [[key, dictionary[key]] for key in dictionary]

In [87]:
dictionary = {'name': 'Holly', 'age': 35, 'role': 'producer'}

In [88]:
output = convert_dict_to_list(dictionary)

In [89]:
output

[['name', 'Holly'], ['age', 35], ['role', 'producer']]

In [90]:
def convert_dict_to_list(dictionary):
    result = []
    for key in dictionary:
        result.append([key, dictionary[key]])
    return result

In [91]:
dictionary = {'name': 'Holly', 'age': 35, 'role': 'producer'}

In [92]:
output = convert_dict_to_list(dictionary)

In [93]:
output

[['name', 'Holly'], ['age', 35], ['role', 'producer']]

## Greet Customers

In [230]:
def greet_customers(name, customer_data):
    names = [key for key, val in customer_data.items()]
    if name not in names:
        return 'Welcome! Is this your first time?'
    else:
        values = customer_data.get(name)
    for k, v in values.items():
        if v == 1:
            return f"Welcome back, {name}! We're glad you liked us the first time!"
        elif v > 1:
            return f"Welcome back, {name}! So glad to see you again!"

In [231]:
customer_data = {'Joe': {'visits': 1}, 'Carol': {'visits': 2}, 'Howard': {'visits': 3}, 'Carrie': {'visits': 4}}

In [232]:
output = greet_customers('Terrance', customer_data)

In [233]:
output

'Welcome! Is this your first time?'

In [234]:
output = greet_customers('Joe', customer_data)

In [235]:
output

"Welcome back, Joe! We're glad you liked us the first time!"

In [236]:
output = greet_customers('Carol', customer_data)

In [237]:
output

'Welcome back, Carol! So glad to see you again!'

In [238]:
output = greet_customers('Howard', customer_data)

In [239]:
output

'Welcome back, Howard! So glad to see you again!'

In [240]:
output = greet_customers('Carrie', customer_data)

In [241]:
output

'Welcome back, Carrie! So glad to see you again!'

In [121]:
customer_data.get('Terrance')

In [122]:
for key, val in customer_data.items():
    for keys, vals in val.items():
        print(vals)

1
2
3
4

In [123]:
names = [key for key, val in customer_data.items()]

In [124]:
x

['Joe', 'Carol', 'Howard', 'Carrie']

In [191]:
for key, val in customer_data.items():
    print(customer_data.get(key))

None
None
None
None

In [243]:
customer_data.fromkeys('Joe')

{'J': None, 'o': None, 'e': None}